/* style.css */
body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: flex-end | space-evenly; */
}
#Nav1,
#Nav2,
#Nav3,
#Nav4 {
  padding-top: 35px;
}

main {
}

#section1 {
}

#section2 {
  display: flex;
  justify-content: space-between;
}

#section3 {
  display: flex;
  justify-content: space-evenly;

  h1 {
    font-size: large;
  }

  p {
    margin-top: 100px;
    margin-right: 200px;
    max-height: 100px;
    max-width: 350px;
    overflow: auto;
    font-size: 16px;
    line-height: 1.5;
  }

}

#section4 {
}

footer {
  background-color: #ddd;
  padding-top: 40px;
  margin: 0%;
  height: 50px;
  width: 100%;
  text-align: center;
}